.register-bar-bg{background-color: dodgerblue; padding: 5px 0px;}
.register-bar-turnright{float: right; color: white}
.register-color-white{color: white;}
.register-main{border: 1px solid; margin-top: 20px}
.register-form{margin-top: 20px}
.register-button{margin-left: 220px}
#mpanel2{display: inline-block}
a:hover{
    color:white;
    text-decoration:none;
    cursor:pointer;
}