.main {
    width: 1000px;
    margin: 0 auto;
}

.title_font {
    font-size: 18px;
    color: #114d8a;
}

.list_1_1 {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-bottom: 1px solid #A7A7A7;
}

.position_title {
    margin-top: 20px;
}

.table_style {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:100%;
    border-collapse:collapse;
}

.table_style th, .table_style td {
    font-size:1em;
    border:1px solid #114D8A;
    padding:3px 7px 2px 7px;
    text-align: center;
}

.table_head {
    background-color:#114D8A;
    color: white;
}

.table_style th {
    font-size:1.1em;
    padding-top:5px;
    padding-bottom:4px;
    color:#ffffff;
}

.table_style a {
    text-decoration: none;
}

.search_style {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 40%;
}