.head-title-box {
    background-color: #2381D9;
    max-width: 1280px;
    height: 30px;
    margin: 0px auto;
}

.head-title {
    width: 1000px;
    height: 30px;
    margin: 0px auto;
}

.head-title ul {
    margin: 0 auto;
    list-style-type: none;
}

.head-title ul li {
    list-style-type: none;
    float: right;
    margin-left: 10px;
    vertical-align: middle;
}

.head-title ul li span{
    color: white;
}

.head-title ul li a {
    vertical-align: middle;
    margin: 8px auto;
    font-size: 12px;
    padding-left: 5px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}

.head-menu {
    width: 1000px;
    margin: 0px auto;
    height: 79px;
    vertical-align: middle;
    clear: right;
}

.head-menu img {
    margin: 12px 0px;
    width: 243px;
    height: 55px;
    float: left;
}

ul {
    margin: 0;
    padding: 0;
}

.head-menu ul {
    float: right;
    margin-top: 25px;
    cursor: default;
    height: 30px;
    width: 630px;
}

.head-menu ul li {
    list-style-type: none;
    width: 75px;
    float: left;
    font-size: 14px;
    text-align: right;
    margin-left: 30px;
    height: 30px;
}

.head-menu ul li .text_color {
    vertical-align: middle;
    line-height: 30px;
    width: 60px;
}

.head-menu ul li a {
    display: block;
    float: right;
    text-align: center;
    height: 30px;
    text-decoration: none;
}

.title_font {
    font-size: 18px;
    color: #114d8a;
}

.head-menu ul li .title_color {
    vertical-align: top;
    width: 75px;
    border-bottom: 2px solid #114D8A;
}

.banner {
    text-align: center;
    min-width: 1000px;
    margin: 0px auto;
}
