div {
    margin: 0;
    padding: 0;
}

.main {
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 30px;
}

.main .crumb {
    width: 100%;
    margin: 20px auto;
}

.v_navi {
    margin-top: 30px;
    width: 240px;
    float: left;
    border: 1px solid #ccc;
}

.title-resume {

    width: 100%;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    background: url("https://job.bankcomm.com/images/position/1.gif") no-repeat;
}

.v_navi .on {
    background-color: #EBEBEB;
}

.navi_resume, .navi_education, .navi_bonus, .navi_work_experience, .navi_family {
    width: 240px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}

.v_navi .txt {
    float: left;
    color: #5D5D5D;
    margin-left: 10px;
}

.main_you2 {
    float: right;
    width: 730px;
    height: auto;
    margin-top: 30px;
    text-align: center;
}

.main_you22_1 {
    width: 730px;
    height: 40px;
    border-bottom: 1px solid #A7A7A7;
}

.title_font {
    font-size: 18px;
    color: #114d8a;
}

.main_you2 .main_you22_3 {
    width: 730px;
    height: auto;
    margin-top: 30px;
    color: #2d2d2d;
}

table {
    font-size: 15px;
}

input {
    border: 1px solid #8c8c8c;
    height: 30px;
    border-radius: 3px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

select {
    width: 194px;
    height: 30px;
}

.main_you2 .main_you22_4 {
    width: 730px;
    height: auto;
    margin: 30px auto;
    text-align: center;
}

.button {
    background: #33bdef;
    background-image: -webkit-linear-gradient(top, #33bdef, #019ad2);
    background-image: -moz-linear-gradient(top, #33bdef, #019ad2);
    background-image: -ms-linear-gradient(top, #33bdef, #019ad2);
    background-image: -o-linear-gradient(top, #33bdef, #019ad2);
    background-image: linear-gradient(to bottom, #33bdef, #019ad2);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 0px -1px 0px #5b6178;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 12px 30px 12px 30px;
    border: solid #057fd0 1px;
    text-decoration: none;
}

.button:hover {
    color: #ffffff;
    background: #019ad2;
    text-decoration: none;
}

