div {
    margin: 0;
    padding: 0;
}

.v_navi {
    margin-top: 30px;
    width: 240px;
    float: left;
    border: 1px solid #ccc;
}

.title {

    width: 100%;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    background: url("https://job.bankcomm.com/images/position/1.gif") no-repeat;
}

.v_navi .on {
    background-color: #EBEBEB;
}

.navi_resume, .navi_record, .navi_account, .navi_msgBoard {
    width: 240px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}

.v_navi .txt {
    float: left;
    color: #5D5D5D;
    margin-left: 10px;
}

.main_you2 {
    float: right;
    width: 730px;
    height: auto;
}

.main_you2 .main_you22_3 {
    width: 730px;
    height: auto;
    margin-top: 30px;
    color: #2d2d2d;
}

.save-button {
    margin-left: 40px;
}

.form-margin {
    margin-left: 60px;
}