div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main {
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    margin-bottom: 30px;
}


.v_navi {
    margin-top: 30px;
    width: 240px;
    float: left;
    border: 1px solid #ccc;
}

.title {

    width: 100%;
    height: 40px;
    color: #FFF;
    font-size: 14px;
    line-height: 40px;
    padding-left: 20px;
    background: url(../../../image/resume/1.gif) no-repeat;
}

.v_navi .on {
    background-color: #EBEBEB;
}

.navi_resume, .navi_record, .navi_account, .navi_msgBoard {
    width: 240px;
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}

.v_navi .txt {
    float: left;
    color: #5D5D5D;
    margin-left: 10px;
}

.main_you2 {
    float: right;
    width: 730px;
    height: auto;
    text-align: center;
    display: block;
}

.main_you2 .main_you2_3 {
    width: 730px;
    margin-top: 30px;
}





