.myRight {
    width: 968px;
    min-height: 600px;
    margin: 0 auto;
    border: 1px solid #d8d8d8
}

.previewTit1.w2 {
    padding: 15px 0;
}

.previewTit1 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0px 0 15px;
    border-bottom: 1px solid #90c31f;
    text-align: center;
    font-size: 16px;
    line-height: 36px;
}

.previewSpan1 {
    float: left;
    margin-left: 20px;
}

.previewTit2 {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    line-height: 36px;
}

.resumeCon2.w2, .resumeCon3.w2 {
    width: 968px;
}

.resumeCon2, .resumeCon3 {
    width: 1198px;
    overflow: hidden;
    margin-top: 1px;
    font-size: 14px;
    padding: 10px 0;
    background-color: #eafdfd;
}

.resumeTit1 {
    width: 1158px;
    overflow: hidden;
    margin: 0 auto;
    line-height: 40px;
    border-bottom: 1px dashed #c1c1c1;
    font-size: 18px;
    color: #0062d0;
    cursor: pointer;
}

.resumeTab.w2 {
    width: 948px;
    padding: 0 10px;
}

.resumeTab {
    width: 1158px;
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0 20px;
}

.resumeTab td {
    padding: 5px 0;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.previewLine {
    width: 1158px;
    height: 1px;
    margin: 0 auto;
    border-bottom: 1px dashed #c1c1c1;
}