

.nav {
    width: 75%;
    min-width: 940px;
    background: #008FD1;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

.nav ul {
    width: 940px;
    margin: 0 auto;
    background: #008FD1;
    font-size: 0;
    letter-spacing: -0.31em;
    clear: both;
}

.nav ul li {
   margin: 0px;
}

.nav ul li a {
    width: 110px;
    float: left;
    text-align: center;
    height: 43px;
    line-height: 43px;
    color: #FFF;
    font-size: 15px;
    letter-spacing: normal;
    word-spacing: normal;
    overflow: hidden;
}

.pictureplace {
    width: 100%;
    min-width: 940px;
    max-height: 270px;
    overflow: hidden;
    /* margin: 0 auto; */
    position: relative;
}

.pictureplacecenter {
    max-width: 1440px;
    margin: 0 auto;
}

.pictureplace img {
    width: 100%;
    max-width: 1440px;
}

.nav ul li a.current {
    background: #0074AA;
    text-decoration: none;
}